* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

/* ------------------------------ */
.container{
  background-image: url("./assets/pexels-maxyne-barcel-10402282 1.png");
  background-repeat: no-repeat;  
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-blend-mode: multiply;
  background-color: #000d42b0;

}

/* ---------- NAVBAR ------------ */
.navbar{
  display: flex;
  width: 100%;
  height:100px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo{
  width: 25%;
  margin-left: 3%;

}
.nav-btn{
  width: 50%;
}
.list{
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.list-item{
  margin:0px 5%;
  text-align: end;
  color: 	#CC8F00;
}

.order-btn{
  width: 25%;
  text-align: center;

}

.button-small{
  width: 25%;
  height: 40px;
  background-color: #FF5260 ;
  color: #fff;
  border:none;
}

/* ------------------------------ */

/* ------------------------------ */
/* ---------- HERO ------------ */
.hero{
  height: cal(100vh - 100px);
  width: 100%;
}
 .hero-heading{
  font-size: 700%;
  width: 85%;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  line-height: 7.5rem;
  color: 	#CC8F00;
 }
 .cover{
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #36394c78;
  position: absolute;
 }
    

.button-large{ 
  background-color: #FF5260;
  position: absolute;
  top: auto;
  left: 42%;
  width: 17%;
  height: 8%;
  font-size: 160%;
  border: none;
  color: #fff;
  margin-top: 2.5%;
  font-weight: bold;
}
.bottom{
float: right;
margin-top: 6%;
margin-right: 8%;
}


/* ------------------------------ */
